---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Right
AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Empty
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
SortIncludes: CaseSensitive
